.login-header {
  color:white;
  height: 28vh;
  background: rgb(255,13,31);
  background: linear-gradient(165deg, rgba(255,13,31,1) 13%, rgba(255,144,35,1) 70%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  padding-top: 6rem;
  height: 72vh;
}

.input {
  width: 70%;
  height: 4rem;
  padding: 12px 20px;
  margin: 1rem auto .5rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background:linear-gradient(222deg, rgba(255,13,31,1) 13%, rgba(255,144,35,1) 70%);
  border: none;
  width: 70%;
  height: 4rem;
  margin: .5rem auto;
} 
