.recommendation-list {
  display: flex;
  width: 100vw;
  overflow-x: scroll;
}

.recommendation-list > div {
  min-width: 50%;
}

.start-recipe-container {
  display: flex;
  margin-top: 15%;
  justify-content: center;
}

.start-recipe-btn {
  position: fixed;
  margin: auto;
  bottom: 0px
}