.recommendation-list {
  display: flex;
  overflow-x: scroll;
  width: 100vw;
}

.recommendation-list > div {
  min-width: 50%;
}

.start-recipe-container {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.start-recipe-btn {
  bottom: 0;
  margin: auto;
  position: fixed;
}
